:root {
  --white: #ffffff;
  --btn-background-cloud-color: #f4f4fd;
  --btn-hover-color: #404bbf;
  --footer-background-color: #2e2f42;
  --background-color: #e5e5e5;
  --cornflower-color: #e7e9fc;
  --descr-text-color: #434455;
  --logo-web-color: #4d5ae5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--Header--*/
.header {
}

.heder-container {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.heder-nav {
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.header-logo-studio {
  color: var(--footer-background-color);
}

.heder-list {
}

.logo :hover,
.logo :focus {
  text-decoration: none;
  color: var(--main-text-footer-background-color);
}

.heder-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heder-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heder-link:hover,
.heder-link:focus {
  color: #404bbf;
}

/* Contacts*/

.header-contacts {
  font-style: normal;
}

.contacts-list {
}

.contacts-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-item-link:hover {
  color: #434455;
}

.section-hero {
  background-color: var(--footer-background-color);
}

.container-hero {
  width: 1440px;
}

.title-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0, auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*Our goals section*/

.title {
}

.container-our-goals {
  width: 1158px;
  padding-left: 15;
  padding-right: 15px;
  margin-top: 120px;
  margin-bottom: 0;
}

.item-goals {
}

.goals-list {
}

.goals-points {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.goals-descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--descr-text-color);
}

/*Our projects section*/

.projects-section {
}

.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.projects-list {
}

/*Our team section*/

.our-team-section {
  background-color: var(--btn-background-cloud-color);
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team-list {
  background-color: #ffffff;
}

.our-team-img {
  background-color: #fcfcfc;
}

.item-team {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-background-color);
}

.item-descript {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--descr-text-color);
}

/*Main section portfolio*/

.btn-item {
  background-color: #ffffff;
}

.btn-list-text {
  background-color: #ffffff;
}

.btn-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web-color);
  background-color: var(--btn-background-cloud-color);
  cursor: pointer;
}

.btn-list:hover,
.btn-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/*Projects list*/

.projects-item-list {
}
.list {
  list-style: none;
}
.projects-list {
}
.projects-link {
}
.link {
  text-decoration: none;
}
.img-projects-link {
}
.projects-title-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-background-color);
}
.projects-descr-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--descr-text-color);
}
.progects-link {
}

/*--Footer--*/

.footer {
  background-color: var(--footer-background-color);
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
